.pin {
    background-image: url("./pin.svg");
    width: 32px;
    height: 32px;
    margin-top: -32px;
    margin-left: -16px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.marker-popup {
    display: inline-block;
    background-color: white;
    padding: 9pt;
    border-radius: 6pt;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    overflow-y: scroll;
    bottom: 9pt;
    position: absolute;
    width: 100%;
    height: 100%;
}

.popup-container {
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: -25vw;
    width: 75vw;
    height: 25vh;
}